@{
    ViewBag.Title = "How to use";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is where we will list instructions on how to use the app including an index to jump to specific topics.</p>
