@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reefer Processing</h1>
    <p class="lead">This application generates fuel tax refund reports involving refrigeration fuel.</p>
    <!--
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>           -->
        
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clients</h2>
        <p>
            Click here to add, view, or edit clients.
        </p>
        <p><a class="btn btn-default" href="">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>States/Provinces</h2>
        <p>Click here to add, view, or edit states. </p>
        <p><a class="btn btn-default" href="">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>Click here to view or generate reports. </p>
        <p><a class="btn btn-default" href="">Go &raquo;</a></p>
    </div>
</div>